<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
</head>


<body>
<nav class="navbar navbar-primary ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/add">Add <span class="sr-only">(current)</span></a></li>
                <li class="article"><a href="/addarticle">Article<span class="sr-only">(current)</span></a></li>
                <li><a href="/usersearch">Search User</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Action one</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="page-header">
        <h1>Just Begin </h1>
    </div>
    <div class="jumbotron">
        <h1>Hello, hi!</h1>
        <p>When push comes to shove, we often discover that we are much stronger than we think.</p>
        <p><a class="btn btn-primary btn-lg" href="/articlepage" role="button">Learn more</a></p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <h2>To Start</h2>
                <p>Happiness is not about being immortal nor having food or rights in one's hand. It’s about having each tiny wish come true, or having something to eat when you are hungry or having someone's love when you need love.</p>
                <h3>Add an "add" function</h3>
                <p>Inorder to add an "add" function, we have to create two pages, one is for the function and the other is for display.</p>
                <pre>@GetMapping(value = "/add")
public String adduser(@ModelAttribute("user") User user){
return "add";
}

@PostMapping(value = "/add")
public String adduser(@ModelAttribute("user") User user, ModelMap modelMap){
userRespository.save(user);
modelMap.addAttribute("users",userRespository.findAll());
return "index";
}
                </pre>
                <p>Here, "add" is for our function and "index" is for our display.</p>
                <h3>Sub-heading</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                    <li>Life is like a box of chocolate you never know what you will get.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                    <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                <ol>
                    <li>Vestibulum id ligula porta felis euismod semper.</li>
                    <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                    <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                </ol>
                <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->

            <h2 class="blog-post-title">Improving... </h2>
                <p class="blog-post-meta">August 15, 2018 by <a href="#">Yuma</a></p>

                <p><a href="https://www.imdb.com/title/tt0111161/videoplayer/vi3877612057"> The Shawshank Redemption</a></p>
                <hr>
                <p>The film has been interpreted as being grounded in <a href="https://en.wikipedia.org/wiki/Christian_mysticism"> Christian mysticism.</a>Andy is offered as a messianic, Christ-like figure, with Red describing him early in the film as having an aura that engulfs and protects him from Shawshank. The scene in which Andy and several inmates tar the prison roof can be seen as a recreation of the Last Supper, with Andy obtaining beer/wine for the twelve inmates/disciples as Freeman describes them as the "lords of all creation" invoking Jesus' blessing. Director Frank Darabont responded that this was not his deliberate intention,but he wanted people to find their own meaning in the film.</p>
                <blockquote>
                    <p>I have no idea to this day what those two Italian ladies were singing about. Truth is, I don’t want to know. Some things are better left unsaid.<strong>I’d like to think they were singing about somethings so beautiful,it can't expressed in words,and it makes your heart ache because of it.I tell you, those voices soared higher and farther than anybody in a great place dares to dream.</strong> It was as if some beautiful bird had flapped into our drab little cage and made these walls dissolve away, and for the briefest of moments, every last man is Shawshank felt free.</p>
                </blockquote>
                <p> <em>Fear can hold you prisoner. Hope can set you free. A strong man can save himself. A great man can save another.</em> </p>

            <div class="blog-post">
                <h2 class="blog-post-title">Improving constantly</h2>
                <p class="blog-post-meta">August 14, 2018 by <a href="#">Yuma</a></p>

                <p>Today we try to make better the layout design.</p>
                <ul>
                    <li>Life is like a box of chocolate you never know what you will get.</li>
                    <li>We accept the reality of the world with which we're presented.</li>
                    <li>Miracles happen every day.</li>
                </ul>
                <p>The sooner you look like yourself, the sooner you’ll fell like yourself.<em>Grown-ups work for things. Grown-ups pay. Grown-ups suffer consequences.</em> </p>
                <p>Hope is a good thing, maybe the best of things, and no good thing dies.</p>
            </div><!-- /.blog-post -->
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Here is a newbie. With the help of friends, she want to improve her ability in order to discover more possibilities. She is learning, making progress and she will be better</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">August 2018</a></li>
                    <li><a href="#">July 2018</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Some useful links</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/qfdk/ProjetBlog">GitHub</a></li>
                    <li><a href="https://getbootstrap.com/docs/3.3/getting-started/">Bootsrap</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div>

    <footer class="blog-footer">
        <p>Blog built by <a href="https://github.com/Heixiaomeng">Yuma</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <div class="row">
        <div class="col-md-8 blog-main">
            <table class="table orginal">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>role</th>
                    <th>Operation</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">IdUser</td>
                    <td th:text="${user.name}">NameUser</td>
                    <td th:text="${user.role}">RoleUser</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/edit(id=${user.id})}">editUser</a>
                        <a class="btn btn-danger" th:href="@{/delete(id=${user.id})}">deleteUser</a>
                    </td>
                </tr>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.id}">IdArticle</td>
                    <td th:text="${article.title}">ArticleTitle</td>
                    <td th:text="${article.context}">ArticleContext</td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/deleteArticle(id=${article.id})}">deleteArticle</a>
                    </td>
                </tr>
                </thead>
            </table>

        </div>



    </div>

</div>


</body>
</html>